<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="https://www.medunigraz.at/" class="nav-link">
                <span class="clr-icon clr-mug-logo"></span>
                <span class="title">Media Management</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">
                <span class="nav-text">Home</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/recording']" routerLinkActive="active">
                <span class="nav-text">Recording</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/recorder']" routerLinkActive="active">
                <span class="nav-text">Recorder</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/publish']" routerLinkActive="active">
                <span class="nav-text">Publish</span>
            </a>
            <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active">
                <span class="nav-text">About</span>
            </a>
        </div>
        <div class="header-actions">
        </div>
    </clr-header>
    <router-outlet></router-outlet>
</clr-main-container>
