<h1>Recordings</h1>
<hr/>
<p>
Wählen Sie aus aktiven (Online) und archivierten Aufzeichnungen.
</p>
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="...">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="...">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="...">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="...">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="...">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="...">
            </div>
            <div class="card-block">
                <p class="card-text">
                    ...
                </p>
            </div>
        </a>
    </div>
</div>
